<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>vue</title>
	
</head>
<body>
<div id="app">
	<form v-on:submit.prevent="addItem">
		<p>Add item</p>
		<p>item name: <input type="text" required v-model="itemName"></p>
		<p>how many: <input type="text" required v-model="itemNumber"></p>
		<button type="submit">add item</button>
	</form>
	<p>shooping list</p>
	<ul>
		<li v-for="item in shoppingList">{{item.name}}, {{item.number}}</li>
	</ul>
</div>
<script
  src="https://unpkg.com/vue@3/dist/vue.global.js">
</script>
<script>
	const app=Vue.createApp({
		data(){
			return{
				itemName: null,
				itemNumber: null,
				shoppingList:[
					{name:'tomatoes', number: 5}
				]
			}
		},
		methods:{
			addItem(){
				let item = {
					name: this.itemName,
					number: this.itemNumber,
				}
				this.shoppingList.push(item)
				this.itemName =  null
				this.itemNumber=null
			}
		}
	})
	app.mount('#app')
</script>
</body>
</html>